Source: kattis-problemtools
Section: devel
Priority: optional
Maintainer: Per Austrin <austrin@kattis.com>
Build-Depends: debhelper (>= 8.0.0), g++ (>= 4.8), dh-python, python (>= 2.6.6-3~), python-setuptools, python-pytest, python-yaml, libboost-regex-dev, libgmp3-dev, automake, autoconf
Standards-Version: 3.9.4
Homepage: https://github.com/Kattis/problemtools

Package: kattis-problemtools
Architecture: any
Depends: ${shlibs:Depends}, ${python:Depends}, ${misc:Depends}, python-yaml, python-plastex, python-pkg-resources, texlive-latex-recommended, texlive-fonts-recommended, texlive-latex-extra, texlive-generic-recommended, texlive-lang-cyrillic, tidy, ghostscript
Recommends: gcc, g++
Description: Kattis Problem Tools
 These are tools to manage and verify problem packages in the
 Kattis problem package format.
