Source: kattis-problemtools
Section: devel
Priority: optional
Maintainer: Per Austrin <austrin@kattis.com>
Build-Depends: debhelper-compat (= 13), g++ (>= 4.8), dh-virtualenv, python3, libboost-regex-dev, libgmp-dev, automake, autoconf, git, python3-venv, dpkg-dev
Standards-Version: 3.9.4
Homepage: https://github.com/Kattis/problemtools

Package: kattis-problemtools
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, pandoc, python3, texlive-plain-generic, texlive-fonts-recommended, texlive-latex-extra, texlive-luatex, tidy, ghostscript, dvisvgm, fonts-cmu, fonts-noto-color-emoji
Recommends: gcc, g++
Description: Kattis Problem Tools
 These are tools to manage and verify problem packages in the
 Kattis problem package format.
