#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@ --with python-virtualenv

override_dh_strip:
	dh_strip --exclude=/PIL/ --exclude=/pillow.libs/

override_dh_shlibdeps:
	dh_shlibdeps -X/x86/ -X/PIL/.libs/ -X/pillow.libs/

override_dh_dwz:
	dh_dwz --exclude=/PIL/ --exclude=/pillow.libs/
